body {
  font-family: Arial, sans-serif;
  background-color: #faf9f9;
}


header {
  background-color: black;
  color: white;
  padding: 1rem;
}



form {
  background-color: #fff;
  width: 500px;
  margin: 90px;
  padding: 40px 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}



/* Stile per il contenitore principale */

/* Stile per l'header */





/* Stile per il contenitore principale */
.Main {
  padding: 20px;
}

/* Stile per il footer */
footer {
  padding: 20px;
  background-color: #141414;
  text-align: center;
  margin-top: 100px;
  color: #faf9f9;
}


.stilemio {
  background-color: #fff;
  width: 500px;
  margin: 20px;
  padding: 40px 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

img {
  width: 200px;
  height: 300px;
}